.main {

}

.todo-list-add {
}

.todo-list-add__name {
  width: 33%;
}

.todo-list-container {
  width: 70%;
  margin: 1em;
  border: 1px solid #cccccc;
}

.todo-list-container__row {
  padding: 0.5em;
}

.todo-list-container__count {
  padding-left: 2em;
}

.todo-items-container__row__header {
  padding-right: 1em;
}

.todo-items-container__row__button {
  padding-left: 1em;
}

